<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self' 'unsafe-inline';"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/style.css" />
    <title>Demo App</title>
  </head>

  <body>
    <div class="tab">
      <button class="tablinks" onclick="openTab(event, 'Tab1')">
        Especificaciones
      </button>
      <button class="tablinks" onclick="openTab(event, 'Tab2')">
        Notificaciones
      </button>
      <button class="tablinks" onclick="openTab(event, 'Tab3')">Usuario</button>
    </div>

    <div id="Tab1" class="tabcontent">
      <table class="table" id="tabla-de-datos"></table>
    </div>

    <div id="Tab2" class="tabcontent">
      <h3>Pestaña 2</h3>
      <p>Contenido de la pestaña 2.</p>
    </div>

    <div id="Tab3" class="tabcontent">
      <h3>Pestaña 3</h3>
      <p>Contenido de la pestaña 3.</p>
    </div>

    <script src="../renderer.js"></script>
    <script src="../script.js"></script>
  </body>
</html>
